<div class="contenedor-head">
    <a href="#">
      <img class="logo" src="https://img.freepik.com/iconos-gratis/vivienda_318-1861.jpg?t=st=1654600642~exp=1654601242~hmac=956339be6abbc7d7ed95bc3a0142601fc8c0152d0810e0d531da4c2792fd47d2&w=740" width="50px" height="50px">
    </a>
    <h1><b>Módulo 1: HISTORIA Y EVOLUCIÓN</b></h1>
</div>
<div class="intro">
  <br>
  <h2><b>INTRODUCCIÓN</b></h2>
  <p>A continuación, se presentan cada uno de los acontecimientos o descubrimientos más importantes que se han presentado en microbiología relacionada con la industria alimentaria a lo largo de los años.</p>
</div>
<hr>